{% extends 'birdie_templates/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

{% if current_user == bag.user_id %}
<ul class="discs">
    {% for disc in discs %}
        {% if disc.bag_id == bag.bag_id %}
            <li class="disc">
                <a class="disc_name" href="{% url 'BirdieApp:disc' disc.id %}">{{ disc.name }}</a>
                <div>
                {{ disc.brand }} - {{ disc.disc_type }} 
                </div>
            </li>
        {% else %}
            <div></div>
        {% endif %}
    {% endfor %}
    </ul>
<form action="{% url 'BirdieApp:discs'%}" method="GET">
    {% csrf_token %}
    {% buttons %}
<button class="btn btn-primary">Fill your bag</button>
{% endbuttons %}
        {% endif %}
{% endblock %}