{% extends 'birdie_templates/base.html' %}
{% load bootstrap4 %}

{% block content %}

<input type=button value="Back" onClick="javascript:history.go(-1);">
    <h1>Create a new bag</h1>
    <form action="{% url 'BirdieApp:bags' %}" method="post">
        {% csrf_token %}
        <fieldset>
            <label for="brand">Brand: </label>
            <input required id="brand" type="text" name="brand" value="{{ bag.brand }}">
        </fieldset>
        {% buttons %}
    <button class="btn btn-primary">Save</button>
    {% endbuttons %}
    </form>

{% endblock %}