{% extends 'birdie_templates/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block content %}

<h1>Your bags</h1>

<ul class="bags">
    {% for bag in all_bags %}
    {% if bag.user_id == request.user.id %}
        <li class="bags">
            <a href="{% url 'BirdieApp:bag' bag.id %}">{{ bag.brand }}</a>
        </li>
        {% endif %}
    {% endfor %}
    </ul>
    <form action="{% url 'BirdieApp:bag_form'%}" method="GET">
    {% csrf_token %}
        {% buttons %}
    <button class="btn btn-primary">Create a bag</button>
    {% endbuttons %}
{% endblock %}