{% extends 'birdie_templates/base.html' %}
{% load bootstrap4 %}

{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">

    {% if park.park_id is not None %}
    <h1>Edit Park</h1>
    {% else %}
    <h1>Create a Park</h1>
    {% endif %}

    {% if park.park_id is not None %}
        <form action="{% url 'BirdieApp:park' park.park_id %}" method="post">
        <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <form action="{% url 'BirdieApp:parks' %}" method="post">
    {% endif %}
        {% csrf_token %}

        <fieldset>
            <label for="title">Title: </label>
            <input required id="title" type="text" name="title" value="{{ park.title }}">
        </fieldset>
        <fieldset>
            <label for="city">City: </label>
            <input required id="city" type="text" name="city" value="{{ park.city }}">
        </fieldset>
        <fieldset>
            <label for="state">State: </label>
            <input required id="state" type="text" name="state" value="{{ park.state }}">
        </fieldset>
        {% buttons %}
    <button class="btn btn-primary">Submit</button>
    {% endbuttons %}
    </form>

{% endblock %}