    {% extends 'birdie_templates/base.html' %}
    {% load bootstrap4 %}
    {% load static %}

    {% block content %}
    <h1>Parks</h1>

    <ul class="parks">
        {% for park in all_parks %}
        <li class="park">
            <div>
                <a href="{% url 'BirdieApp:park' park.id %}">{{ park.title }}</a>  
            </div>
        </li>
    {% endfor %}
    </ul>
    <form action="{% url 'BirdieApp:park_form'%}" method="GET">
        {% csrf_token %}
        {% buttons %}
    <button class="btn btn-primary">Add a park</button>
    {% endbuttons %}
{% endblock %}
