{% extends 'birdie_templates/base.html' %}

{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">
    <section id="disc-details">
        <h1>{{ disc.name }} -- {{ disc.color }} {{ disc.disc_type }}</h1>
        <h3>by {{ disc.brand }}</h3>
        <div>{{ disc.name }} has a flight rating of <strong>{{ disc.speed }} | {{ disc.glide }} | {{ disc.turn }} | {{ disc.fade }}</strong></div>
    </section>

    <form action="{% url 'BirdieApp:disc' disc.disc_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>
    <form action="{% url 'BirdieApp:disc_edit_form' disc.disc_id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
{% endblock %}