{% extends 'birdie_templates/base.html' %}
{% load bootstrap4 %}

{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">
{% if current_user == disc.user_id %}
    <section id="disc-details">
        <h1>{{ disc.name }} -- {{ disc.color }} {{ disc.disc_type }}</h1>
        <h3>by {{ disc.brand }}</h3>
        <div>{{ disc.name }} has a flight rating of <strong>{{ disc.speed }} | {{ disc.glide }} | {{ disc.turn }} | {{ disc.fade }}</strong></div>
    </section>

    <form action="{% url 'BirdieApp:disc_edit_form' disc.disc_id %}" method="GET">
        {% csrf_token %}
        {% buttons %}
        <button class="btn btn-primary">Edit</button>
        {% endbuttons %}
    </form>
    <form action="{% url 'BirdieApp:disc' disc.disc_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        {% buttons %}
    <button class="btn btn-primary">Delete</button>
    {% endbuttons %}
    </form>
    {% endif %}
{% endblock %}