{% extends 'birdie_templates/base.html' %}

{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">

    <h1>Save a new disc</h1>
    
    {% if disc.disc_id is not None %}
        <form action="{% url 'BirdieApp:disc' disc.disc_id %}" method="post">
        <input type="hidden" name="actual_method" value="PUT">
    {% else %}
        <form action="{% url 'BirdieApp:discs' %}" method="post">
    {% endif %}
        {% csrf_token %}
        
        <fieldset>
            <label for="bag">Bag: </label>
            <select id="bag" name="bag_id">
                {% for bag in all_bags %}
                    <option {% if disc.bag_id %}selected{% endif %} value="{{ bag.bag_id }}">{{ bag.brand }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="brand">Brand: </label>
            <input id="brand" type="text" name="brand" value="{{ disc.brand }}">
        </fieldset>
        <fieldset>
            <label for="name">Name: </label>
            <input id="name" type="text" name="name" value="{{ disc.name }}">
        </fieldset>
        <fieldset>
            <label for="disc_type">Type: </label>
            <select id="disc_type" name="disc_type">
                {% for type in types %}
                    <option {% if disc.disc_type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="color">Color: </label>
            <input id="color" type="text" name="color" value="{{ disc.color }}">
        </fieldset>
        <fieldset>
            <label for="speed">Speed: </label>
            <input id="speed" type="number" name="speed" value="{{ disc.speed }}">
        </fieldset>
        <fieldset>
            <label for="glide">Glide: </label>
            <input id="glide" type="number" name="glide" value="{{ disc.glide }}">
        </fieldset>
        <fieldset>
            <label for="turn">Turn: </label>
            <input id="turn" type="number" name="turn" value="{{ disc.turn }}">
        </fieldset>
        <fieldset>
            <label for="fade">Fade: </label>
            <input id="fade" type="number" name="fade" value="{{ disc.fade }}">
        </fieldset>
        <input type="submit" value="Submit" />
    </form>

{% endblock %}
