{% extends 'birdie_templates/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1>Your discs</h1>

<!-- Trying to add a form and submit to the add button so clicking it adds that disc to the bag you selected -->

<ul class="discs">
    {% for disc in all_discs %}
    {% if disc.user_id == request.user.id %}
        <form action="{% url 'BirdieApp:disc' disc.id %}" method="post">
        <input type="hidden" name="actual_method" value="PUT">
        {% csrf_token %}
        <li class="disc">
            <div style="border: 3px;">
            <button type="submit"  class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add
            </button>
            <a class="disc_name" href="{% url 'BirdieApp:disc' disc.id %}">{{ disc.name }}</a>
            {{ disc.brand }} - {{ disc.disc_type }} - {{disc.id}}
            </div>
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ disc.name }} has been added to your bag!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
        </li>
        </form>
        {% endif %}
    {% endfor %}
    </ul>

    <form action="{% url 'BirdieApp:disc_form'%}" method="GET">
        {% csrf_token %}
        {% buttons %}
    <button class="btn btn-primary">Save a new disc</button>
    {% endbuttons %}

{% endblock %}