{% extends 'birdie_templates/base.html' %}
{% load static %}
{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">
<h1>Your discs</h1>

<ul class="discs">
    {% for disc in all_discs %}
    {% if disc.user_id == request.user.id %}
        <li class="disc">
            <a class="disc_name" href="{% url 'BirdieApp:disc' disc.id %}">{{ disc.name }}</a>
            <div>
               {{ disc.brand }} - {{ disc.disc_type }} 
            </div>
        </li>
        {% endif %}
    {% endfor %}
    </ul>

    <form action="{% url 'BirdieApp:disc_form'%}" method="GET">
        {% csrf_token %}
            <button>Save a new disc</button>

{% endblock %}