{% extends 'birdie_templates/base.html' %}
{% load bootstrap4 %}

{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">
{% if current_user == game.user_id %}
    <section id="game-details">
        <h3>Played on {{ game.started_at }} was played at {{ game.title }} 
            and had a final score of {{game.score}}. 
        </h3>
    </section>

    <form action="{% url 'BirdieApp:game_edit_form' game.game_id %}" method="GET">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="PUT">
        {% buttons %}
    <button class="btn btn-primary">Edit</button>
    {% endbuttons %}
</form>
    
    <form action="{% url 'BirdieApp:game' game.game_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        {% buttons %}
    <button class="btn btn-primary">Delete</button>
    {% endbuttons %}
    </form>
    {% endif %}
{% endblock %}