{% extends 'birdie_templates/base.html' %}

{% block content %}
<input type=button value="Back" onClick="javascript:history.go(-1);">
{% if current_user == game.user_id %}
    <section id="game-details">
        <h2>Played on {{ game.started_at }} was played at {{ game.title }} 
            and had a final score of {{game.score}}. 
        </h2>
    </section>

    <form action="{% url 'BirdieApp:game' game.game_id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>

    <form action="{% url 'BirdieApp:game_edit_form' game.game_id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
    {% endif %}
{% endblock %}