{% extends "birdie_templates/base.html" %}

{% block page_header %}
    <div class="text-left">
        {% if request.user.first_name %}
        <h2>Welcome to Birdie, {{request.user.first_name}}!</h2>
        {% else %}
        <h2>Welcome to Birdie, {{request.user.username}}!</h2>
        {% endif %}
        <h4>- Save all your disc specs.</h4>
        <h4>- Create a bag and edit your discs to save a loadout.</h4>
        <h4>- Save game details.</h4>
        <h4>- Brag about your scores.</h4>
    </div>
{% endblock page_header %}